body {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
}

.header {
    background-color: #1f2937;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.list-right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 400px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: white;
}

.mainsection .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
}

.mainsection {
    background-color: #1f2937;
    margin: 0;
}

.heroimage {
    width: 400;
    height: auto;
}

.logo {
    width: 800px;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 4px;
}

.hero-subtext, .ctatext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.leftside {
    width: 400px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    padding: 8px 16px;
    color: white;
}

.section2 .container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.main2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}


.content {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    display: block;
}

.text {
    margin-top: 18px;
}

.fruits {
    max-width: 200px;
    max-height: 200px;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.author {
    font-size: 24px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.footer {
    background-color: #1F2937;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
}

.section4 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.ctabox {
    background-color: #3882F6;
    border-radius: 8px;
    height: 150px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 20px;
}

.ctaheader {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.ctab {
    border-radius: 8px;
    border: solid 2px;
    border-color: #E5E7EB;
    padding-left: 30px;
    padding-right: 30px;
}